# Preparing the Data

Next step of my analysis is the preparation of the data. In the following I load the .txt-files for the apartments in Berlin and Hamburg and transform them to the Pandas Dataframes. I then save them as .csv-files.

In [1]:
# Loading the packages
import pandas as pd

## Berlin

In [2]:
# Loading the data
adress = []
properties = []

with open('berlin_apartments.txt', 'r') as file:
    for line in file:
        line = line.replace(line[-1], '')
        line = line.replace('{', '')
        line = line.replace('}', '')
        line = line.replace("'", '')
        
        (key, value) = line.split(':', 1)
        if key == 'description':
            properties.append(value)
        if key == 'adress':
            adress.append(value)
   
file.close()

Next step is a little tricky, as not only the properties are not the same for every apartment, but some of them are scraped without any possibility to split them correctly. Therefore, I created a loop to go over "properties" value and get all the necessary data in the individual lists, which then become a dataframe.

In [3]:
#Creating necessary lists
price = []
size = []
balcony = []
terrace = []
built_in_kitchen = []
garden = []
elevator = []
guest_WC = []
basement = []
share_possible = []


#Adding values to the lists
for item in properties:
    splitted_item = item.split('\\n')
    price.append(int(float(splitted_item[0].split(' ')[1].replace(',','.').replace('.',''))))
    size.append(int(float(splitted_item[2].split(' ')[0].replace(',', '.'))))
    
    if 'Balkon' in item:
        balcony.append(1)
    else: balcony.append(0)

    if 'Terrasse' in item:
        terrace.append(1)
    else: terrace.append(0)
    
    if 'Einbauküche' in item:
        built_in_kitchen.append(1)
    else: built_in_kitchen.append(0)
    
    if 'Garten' in item:
        garden.append(1)
    else: garden.append(0)
    
    if 'Aufzug' in item:
        elevator.append(1)
    else: elevator.append(0)
    
    if 'Gäste-WC' in item:
        guest_WC.append(1)
    else: guest_WC.append(0)
    
    if 'Keller' in item:
        basement.append(1)
    else: basement.append(0)
    
    if 'WG_geeignet' in item:
        share_possible.append(1)
    else: share_possible.append(0)

Additionally splitting the adress line in order to get street (if given), district and the city

In [4]:
street = []
district = []
city = []

for elements in adress:
    element = elements.split(',')
    if len(element) == 3:
        street.append(element[0])
        district.append(element[1])
        city.append(element[2])
    else:
        street.append(None)
        district.append(element[0])
        city.append(element[1])

In [5]:
#Creating a data frame
ziplist = zip(street, district, city, price, size, balcony, terrace, built_in_kitchen, garden, elevator, guest_WC, basement, share_possible)
berlin_df = pd.DataFrame(ziplist, columns = ['street', 'district', 'city', 'price (in EUR)', 'size (in m^2)', 'balcony', 'terrace', 'built_in_kitchen', 'garden', 'elevator', 'guestWC', 'basement', 'WG'])
berlin_df.head()

,street,district,city,price (in EUR),size (in m^2),balcony,terrace,built_in_kitchen,garden,elevator,guestWC,basement,WG
0,Eberhard-Roters-Platz 13,Kreuzberg,Berlin,2300,94,1,1,1,0,0,0,0,0
1,Cora-Berliner-Straße 2-4,Mitte (Ortsteil),Berlin,2100,57,0,0,0,0,0,0,0,0
2,Hartriegelstraße 130,Niederschöneweide,Berlin,735,38,0,0,0,0,0,0,0,0
3,Rathenower Straße 30,Moabit,Berlin,2150,141,1,1,1,0,0,0,0,0
4,Wegelystraße 6,Charlottenburg,Berlin,1100,38,0,0,0,0,0,0,0,0

In [6]:
#Saving data frame to .csv-file
berlin_df.to_csv('./df_berlin.csv', header = True)

## Hamburg

In the following I repeat the previous steps for the apartments in Hamburg

In [7]:
# Loading the data
adress = []
title = []
properties = []

with open('hamburg_apartments.txt', 'r') as file:
    for line in file:
        line = line.replace(line[-1], '')
        line = line.replace('{', '')
        line = line.replace('}', '')
        line = line.replace("'", '')
        
        (key, value) = line.split(':', 1)
        if key == 'display':
            title.append(value)
        if key == 'description':
            properties.append(value)
        if key == 'adress':
            adress.append(value)
   
file.close()

In [8]:
#Creating necessary lists
price = []
size = []
balcony = []
terrace = []
built_in_kitchen = []
garden = []
elevator = []
guest_WC = []
basement = []
share_possible = []


#Adding values to the lists
for item in properties:
    splitted_item = item.split('\\n')
    price.append(int(float(splitted_item[0].split(' ')[1].replace(',','.').replace('.',''))))
    size.append(int(float(splitted_item[2].split(' ')[0].replace(',', '.'))))
    
    if 'Balkon' in item:
        balcony.append(1)
    else: balcony.append(0)

    if 'Terrasse' in item:
        terrace.append(1)
    else: terrace.append(0)
    
    if 'Einbauküche' in item:
        built_in_kitchen.append(1)
    else: built_in_kitchen.append(0)
    
    if 'Garten' in item:
        garden.append(1)
    else: garden.append(0)
    
    if 'Aufzug' in item:
        elevator.append(1)
    else: elevator.append(0)
    
    if 'Gäste-WC' in item:
        guest_WC.append(1)
    else: guest_WC.append(0)
    
    if 'Keller' in item:
        basement.append(1)
    else: basement.append(0)
    
    if 'WG_geeignet' in item:
        share_possible.append(1)
    else: share_possible.append(0)

Additionally splitting the adress line in order to get street (if given), district and the city

In [9]:
street = []
district = []
city = []

for elements in adress:
    element = elements.split(',')
    if len(element) == 3:
        street.append(element[0])
        district.append(element[1])
        city.append(element[2])
    else:
        street.append(None)
        district.append(element[0])
        city.append(element[1])

In [10]:
#Creating a dataframe
ziplist = zip(street, district, city, price, size, balcony, terrace, built_in_kitchen, garden, elevator, guest_WC, basement, share_possible)
hamburg_df = pd.DataFrame(ziplist, columns = ['street', 'district', 'city', 'price (in EUR)', 'size (in m^2)', 'balcony', 'terrace', 'built_in_kitchen', 'garden', 'elevator', 'guestWC', 'basement', 'WG'])
hamburg_df.head()

,street,district,city,price (in EUR),size (in m^2),balcony,terrace,built_in_kitchen,garden,elevator,guestWC,basement,WG
0,Versmannstraße 16,HafenCity,Hamburg,2995,166,1,1,1,0,0,0,0,0
1,None,Stellingen,Hamburg,2395,126,1,1,1,0,0,0,1,0
2,None,Lurup,Hamburg,1650,93,1,1,1,0,0,1,0,0
3,None,Lurup,Hamburg,1950,113,1,1,1,0,0,1,0,0
4,None,Ottensen,Hamburg,3300,164,0,0,1,0,0,1,1,0

In [11]:
#Saving a dataframe
hamburg_df.to_csv('./df_hamburg.csv', header = True)